@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<br />
<div class="container">
    <div class="text-center">
        <h1>Todo's List</h1>
    </div>
    <div class="text-right">
        <form method="post">
            <button type="submit" asp-page-handler="CreateNew" class="btn btn-primary">Add New</button>
        </form>
    </div>
    <br />
    @if (Model.Todos == null || !Model.Todos.Any())
    {
        <div class="alert alert-warning" role="alert">
            No Pending Todos
        </div>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Assigned To</th>
                    <th>Completed</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todos in Model.Todos)
                {
                    <tr>
                        <td>
                            @todos.Id
                        </td>
                        <td>
                            @todos.TaskName
                        </td>
                        <td>
                            @todos.Description
                        </td>
                        <td>
                            @todos.AssignedTo
                        </td>
                        <td>
                            @todos.IsCompleted
                        </td>
                        <td>
                            <form method="post" asp-page-handler="Edit" asp-route-id="@todos.Id">
                                <button class="btn btn-primary" type="submit">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@todos.Id">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>